body {
    font-family: 'Comfortaa', cursive;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Comfortaa', cursive;
    border: none;
    cursor: pointer;
}

.who {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.g {
    color: #9cffb2;
}

.v {
    color: #fd9dff;
}

.r {
    color: #ff43b4;
}

.popup-bg-teacher {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup-bg-teacher.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup-teacher {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 430px;
    background: #1a1a1a;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

.popup-teacher.active {
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}

.popup-teacher input {
    color: #9cffb2;
    background-color: #1a1a1a;
    border: none;
    outline: none;
    height: 25px;
    font-size: 18px;
    border-bottom: 2px solid #fd9dff;
}

.popup-teacher label {
    margin-bottom: 25px;
}

.label_text {
    display: flex;
    justify-content: center;
}

.open-popup-teacher {
    cursor: pointer;
}

.popup-teacher h3 {
    color: #ff43b4;
}

.popup-teacher button {
    width: 350px;
    height: 30px;
    font-size: 17px;
    font-weight: bolder;
    background-color: #8b00ff;
    color: #9cffb2;
    border-radius: 5px;
}