body {
    font-family: 'Comfortaa', cursive;
    color: #9cffb2;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #a0a0a0;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #fd6dff;
    color: #ffffff;
    border: none;
}

td.bold {
    font-weight: bold;
}

input {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Comfortaa';
    color: #01b16e;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0f;
    height: 60px;
    width: 60px;
    border: none;
    background-size: cover;
    border-radius: 80px;
}

#hum {
    width: 210px;
    color: #8a00b4;
}

#chel {
    background-color: #85EDC5;
    color: #8a00b4;
}


.plus {
    background-color: #0e0e0f;
    cursor: pointer;
    height: 44px;
    width: 44px;
    border-radius: 80px;
    border: 3px solid #01b16e;
    display: flex;
    justify-content: center;
    align-items: center;
}