body {
    font-family: 'Comfortaa', cursive;
    background-color: black;
    color: white;
}

a {
    color: black;
    background-color: white;
}
button {
    font-family: 'Comfortaa', cursive;
    border: none;
    cursor: pointer;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.con button {
    background-color: black;
}

.con button:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.g {
    color: #9cffb2;
}

.v {
    color: #fd9dff;
}